services:
  scylla-node1:
    image: nitsvutt/scylla_with_agent:5.4.2
    container_name: scylla-node1
    command:
      --seeds scylla-node1,scylla-node2
      --broadcast-rpc-address scylla-node1 \
      --broadcast-address scylla-node1 \
      --smp 1 --memory 1G --cpuset 1
    volumes:
      - $COMMON_PATH/scylladb/data1:/var/lib/scylla
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla.yaml:/etc/scylla/scylla.yaml
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/cassandra-rackdc.properties:/etc/scylla/cassandra-rackdc.properties
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager-agent.conf:/etc/supervisord.conf.d/scylla-manager-agent.conf
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager-agent.yaml.secret:/etc/scylla-manager-agent/scylla-manager-agent.yaml
    networks:
      - lakehouse_platform
  
  scylla-node2:
    image: nitsvutt/scylla_with_agent:5.4.2
    container_name: scylla-node2
    command: |
      --seeds scylla-node1,scylla-node2
      --broadcast-rpc-address scylla-node2 \
      --broadcast-address scylla-node2 \
      --smp 1 --memory 1G --cpuset 2
    volumes:
      - $COMMON_PATH/scylladb/data2:/var/lib/scylla
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla.yaml:/etc/scylla/scylla.yaml
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/cassandra-rackdc.properties:/etc/scylla/cassandra-rackdc.properties
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager-agent.conf:/etc/supervisord.conf.d/scylla-manager-agent.conf
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager-agent.yaml.secret:/etc/scylla-manager-agent/scylla-manager-agent.yaml
    networks:
      - lakehouse_platform
  
  scylla-manager-db:
    image: scylladb/scylla:5.4.2
    container_name: scylla-manager-db
    volumes:
      - $COMMON_PATH/scylladb/manager_db:/var/lib/scylla
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager-db.yaml:/etc/scylla/scylla.yaml
    command: --smp 1 --memory 1G --cpuset 3
    networks:
      - lakehouse_platform

  scylla-manager:
    image: scylladb/scylla-manager:3.4.2
    container_name: scylla-manager
    volumes:
      - $PROJECT_PATH/lakehouse-platform/scylladb/config/scylla-manager.yaml:/etc/scylla-manager/scylla-manager.yaml
    environment:
      - SCYLLADB_AUTH_TOKEN=$SCYLLADB_AUTH_TOKEN
    depends_on:
      - scylla-manager-db
    networks:
      - lakehouse_platform

networks:
  lakehouse_platform:
    external: true